@use 'colors' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: $grey;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

a {
	text-decoration: none;
}

.nav {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0.5em 1em;
	height: 8vh;
	background-color: $black;
	z-index: 1000;
	&-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&-logo {
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 1.2rem;
		&__icon {
			background-image: url(../../dist/img/logo.webp);
			background-size: cover;
			background-repeat: no-repeat;
			margin-right: 0.3em;
			width: 2em;
			height: 2em;
		}
		&__text {
			&-color {
				color: $main-color;
				&:nth-child(2) {
					color: $white;
				}
			}
		}
	}
	&-list {
		display: flex;
		align-items: center;
		color: $white;
		list-style-type: none;
		&__item {
			margin-left: 1em;
			font-weight: 500;
			letter-spacing: 0.05em;
			font-size: 1rem;
			&-link {
				position: relative;
				color: $white;
				&::after {
					position: absolute;
					bottom: -0.1em;
					left: 0;
					width: 100%;
					height: 0.15em;
					background-color: $white;
					transform: scale(0);
					transform-origin: right;
					transition: transform 0.3s;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
		&__button {
			position: relative;
			display: flex;
			align-items: center;
			padding: 0.5em 1em;
			color: $main-color;
			font-weight: bold;
			border-radius: 0.5em;
			border: 0.2em solid $main-color;
			transition: color 0.3s;
			&-img {
				display: none;
				margin-left: 0.5em;
				background-image: url(../../src/img/svg/login.svg);
				background-repeat: no-repeat;
				width: 1.5em;
				height: 1.5em;
			}
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0;
				background-color: $main-color;
				transition: height 0.3s;
				content: '';
				z-index: -1;
			}
			&:hover {
				color: $black;
				.nav-list__button-img {
					background-image: url(../../src/img/svg/login-black.svg);
				}
				&::after {
					height: 100%;
				}
			}
		}
	}
}

.header {
	position: relative;
	height: 40vh;
	padding: 2em;
	background-image: url(../../src/img/background.webp);
	background-size: cover;
	&-img {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		display: none;
		background-image: url(../../dist/img/file.jpg);
		background-size: cover;
		height: 100%;
		width: 35%;
	}
	&-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		&__text {
			width: 100%;
			color: $white;
			text-transform: uppercase;
			font-size: 4rem;
			font-weight: 600;
			text-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.5);
			&-style {
				color: $secound-color;
			}
		}
		&__btn {
			position: relative;
			margin-top: 1em;
			padding: 0.5em 1em;
			color: $secound-color;
			font-size: 2rem;
			font-weight: 600;
			border: 0.2em solid $secound-color;
			border-radius: 0.5em;
			z-index: 1;
			&::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0;
				background-color: $secound-color;
				transition: height 0.3s;
				content: '';
				z-index: -1;
			}
			&:hover {
				color: $white;
				&::after {
					height: 100%;
				}
			}
		}
	}
}

.products {
	padding: 6em 2em;
	background-color: $grey;
	color: $main-color;
	&-title {
		font-size: 4rem;
		text-align: center;
		text-transform: uppercase;
	}
	&-box {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 6em;
		&__item {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 4em;
			margin: 2em;
			width: 35.5em;
			border: 0.1em solid $main-color;
			border-radius: 1.5em;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.03);
			}
			&-title {
				text-transform: uppercase;
				font-size: 2.5rem;
			}
			&-subtitle {
				margin-top: 1em;
				align-self: flex-start;
				font-size: 1.5rem;
			}
			&-text {
				margin: 0.3em 0 0.8em;
				font-size: 2.3rem;
				font-weight: 500;
				color: $white;
				&--promo {
					margin: 1em 0;
					padding: 0.5em 1em;
					font-size: 1.7rem;
					font-weight: 600;
					color: $grey;
					background-color: $main-color;
					text-transform: uppercase;
					border-radius: 1.5em;
				}
			}
			&-price {
				font-size: 3rem;
				font-weight: bold;
				&--style {
					margin-left: 0.3em;
					font-size: 3rem;
					font-weight: 400;
				}
			}
			&-line {
				margin: 1.5em 0;
				width: 100%;
				height: 0.1em;
				background-color: $main-color;
			}
			&-btn {
				margin: 1em 0 1.5em;
				padding: 0.5em;
				width: 100%;
				text-align: center;
				color: $main-color;
				border: 0.2em solid $main-color;
				font-weight: bold;
				font-size: 2.5rem;
				border-radius: 0.5em;
				transition: color 0.3s, background-color 0.3s;
				&:hover {
					background-color: $main-color;
					color: $black;
				}
				&--secound {
					background-color: $grey;
					color: $main-color;
					&:hover {
						color: $main-color;
						background-color: $grey;
					}
				}
			}
			&-function {
				margin-top: 1.2em;
				font-size: 1.3rem;
				color: $purewhite;
				align-self: flex-start;
				font-weight: 500;
				&--title {
					margin-right: 0.5em;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 1.6rem;
				}
			}
		}
	}
	&-menu {
		display: flex;
		justify-content: space-between;
		margin-top: 5em;
		&__item {
			padding: 1em;
			margin: 0 0.15em;
			font-size: 1.2rem;
			color: $main-color;
			background-color: $grey;
			font-weight: 600;
			border: 0.2em solid $main-color;
			border-radius: 0.5em;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			&--active {
				background-color: $main-color;
				color: $grey;
			}
			&:hover {
				background-color: $main-color;
				color: $grey;
			}
		}
	}
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8em 2em;
	text-align: center;
	background-color: $grey;
	overflow: hidden;
	&-title {
		font-size: 5rem;
		color: $main-color;
	}
	&-text {
		margin: 0.5em 0 1.5em;
		color: $purewhite;
		font-size: 2rem;
		font-weight: 500;
	}
	&-line {
		margin-bottom: 2em;
		height: 0.1em;
		width: 100%;
		background-color: $main-color;
	}
	&-box {
		display: flex;
		flex-direction: column;
		width: 35em;
		&__item {
			margin: 1.5em 0;
			&-input {
				padding: 1.3em;
				border: 0.1em solid $main-color;
				border-radius: 0.5em;
				background-color: $grey;
				width: 100%;
				color: $main-color;
				font-weight: 600;
				&::placeholder {
					color: $main-color;
					font-weight: 600;
				}
				&--secound {
					width: 47%;
				}
			}
		}
		&__checkbox {
			display: flex;
			align-items: center;
			align-self: flex-start;
			font-weight: 500;
			color: $main-color;
			&-input {
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				position: relative;
				margin-right: 0.5em;
				width: 1.1em;
				height: 1.1em;
				border: 0.15em solid $main-color;
				cursor: pointer;
				&:checked::after {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 80%;
					height: 80%;
					background-color: $main-color;
					content: '';
				}
			}
		}
		&__button {
			margin: 1.5em 0;
			padding: 0.7em;
			font-weight: bold;
			color: $grey;
			font-size: 1.8rem;
			background-color: $main-color;
			border: 0.2em solid $main-color;
			border-radius: 0.5em;
			transition: color 0.3s, background-color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $grey;
				color: $main-color;
			}
		}
		&__forget {
			position: relative;
			color: $purewhite;
			font-weight: 600;
			transition: height 0.3s;
			z-index: 1;
			&::after {
				position: absolute;
				bottom: -0.1em;
				left: 0;
				width: 100%;
				height: 0.15em;
				background-color: $purewhite;
				transition: height 0.3s;
				z-index: -1;
				content: '';
			}
			&:hover {
				color: $grey;
				&::after {
					height: 100%;
				}
			}
		}
		&__register {
			font-weight: 600;
			font-size: 1.5rem;
			color: $main-color;
			&-link {
				position: relative;
				color: $purewhite;
				text-transform: uppercase;
				&::after {
					position: absolute;
					bottom: -0.1em;
					left: 0;
					width: 100%;
					height: 0.15em;
					background-color: $purewhite;
					transform: scale(0);
					transform-origin: right;
					transition: transform 0.3s;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
		&__cancel {
			position: relative;
			color: $purewhite;
			font-weight: bold;
			font-size: 1.8rem;
			&::after {
				position: absolute;
				bottom: -0.1em;
				left: 0;
				width: 100%;
				height: 0.15em;
				background-color: $purewhite;
				transform: scale(0);
				transform-origin: right;
				transition: transform 0.3s;
				content: '';
			}
			&:hover::after {
				transform: scale(1);
				transform-origin: left;
			}
		}
	}
	&-secoundbox {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.5em;
		font-size: 1.3rem;
	}
	&-registerbox {
		width: 35em;
		&__item {
			display: flex;
			justify-content: space-between;
		}
	}
}

.panel {
	display: flex;
	padding: 4em;
	background-color: $grey;
	&-menu {
		width: 10%;
		border-radius: 1.5em;
		background-color: $black;
		color: $main-color;
		&__title {
			margin: 1em 0 0.5em;
			text-align: center;
			font-size: 3rem;
			text-transform: uppercase;
		}
		&__item {
			position: relative;
			padding: 0.3em;
			margin: 2em 1em;
			font-weight: 500;
			font-size: 1.5rem;
			border-radius: 0.5em;
			transition: background-color 0.3s;
			cursor: pointer;
			&:hover {
				background-color: $grey;
			}
			&-active {
				background-color: $grey;
			}
			&-status {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 0.5em;
				border-radius: 0.5em;
				background-color: $main-color;
			}
			&-box {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&-link {
				display: block;
				color: $main-color;
			}
		}
	}
	&-box {
		margin-left: 5em;
		width: 70%;
		background-color: $black;
		border-radius: 1.5em;
		&__profilebox {
			display: flex;
			align-items: center;
			&-item {
				display: flex;
				align-items: center;
				padding: 1em 4em;
				border-radius: 1em;
				background-color: $grey;
				cursor: pointer;
				&--name {
					color: $main-color;
					font-size: 2rem;
					font-weight: 600;
				}
			}
		}
		&__menu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 2.5em 3em;
			&-wallet {
				display: flex;
				align-items: center;
				margin-right: 3em;
				&--p {
					color: $main-color;
					font-weight: 600;
					font-size: 1.4rem;
				}
				&--count {
					font-size: 2rem;
					margin: 0 0.2em;
				}
			}
		}
		&__title {
			font-size: 3rem;
			color: $main-color;
			text-transform: uppercase;
		}
	}
}

.footer {
	&-logo {
		display: flex;
		align-items: center;
		font-weight: bold;
		font-size: 3rem;
	}
	&-top {
		padding: 4em 2em;
		background-color: $black;
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
		&__icons {
			display: flex;
			justify-content: space-between;
			margin-top: 3em;
			&-item {
				width: 3em;
				height: 3em;
				transition: transform 0.3s;
				&--fb {
					background-image: url(../../src/img/svg/facebook.svg);
					cursor: pointer;
				}
				&--ig {
					background-image: url(../../src/img/svg/instagram.svg);
					cursor: pointer;
				}
				&--tt {
					background-image: url(../../src/img/svg/tiktok.svg);
					cursor: pointer;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		&__list {
			list-style-type: none;
			&-item {
				margin: 2em 0;
			}
			&-link {
				position: relative;
				font-size: 2rem;
				font-weight: 500;
				color: $white;
				&::after {
					position: absolute;
					bottom: -0.1em;
					left: 0;
					width: 100%;
					height: 0.15em;
					background-color: $white;
					transform: scale(0);
					transform-origin: right;
					transition: transform 0.3s;
					content: '';
				}
				&:hover::after {
					transform: scale(1);
					transform-origin: left;
				}
			}
		}
	}
	&-bottom {
		padding: 1em;
		background-color: $main-color;
		&__text {
			text-align: center;
			color: $black;
			font-weight: bold;
			font-size: 1.5rem;
		}
	}
}

.active {
	display: none;
}

@media (min-width: 350px) {
	.nav {
		&-logo {
			font-size: 1.4rem;
		}
		&-list__item {
			font-size: 1.3rem;
		}
	}
}

@media (min-width: 576px) {
	.nav {
		&-logo {
			font-size: 1.5rem;
		}
		&-list {
			&__item {
				margin-left: 2.5em;
			}
			&__button-img {
				display: block;
			}
		}
	}
	.header {
		&-box {
			&__text {
				font-size: 5rem;
				width: 90%;
			}
			&__btn {
				font-size: 3rem;
			}
		}
	}
	.products {
		padding: 10em 2em;
		&-title {
			font-size: 7rem;
		}
		&-box {
			margin-top: 10em;
			&__item {
				&-subtitle {
					font-size: 1.8rem;
				}
				&-price {
					font-size: 5rem;
				}
				&-function {
					font-size: 1.5rem;
				}
			}
		}
	}
	.login {
		&-box {
			width: 38em;
		}
		&-registerbox {
			width: 40em;
		}
	}
	.footer {
		&-logo {
			font-size: 4.5rem;
		}
		&-top {
			padding: 6em 2em;
			&__wrapper {
				flex-direction: row;
				justify-content: space-between;
				text-align: left;
			}
		}
		&-bottom__text {
			font-size: 2rem;
		}
	}
	.products {
		&-box__item-title {
			font-size: 2.8rem;
		}
		&-menu__item {
			padding: 1em 2em;
			font-size: 1.5rem;
		}
	}
}
@media (min-width: 768px) {
	.nav {
		padding: 4em 1em;
		&-logo {
			font-size: 2.3rem;
		}
		&-list__item {
			font-size: 1.8rem;
		}
	}
	.header {
		height: 92vh;
		&-box {
			&__text {
				font-size: 7rem;
			}
		}
	}
	.footer {
		&-logo {
			font-size: 5rem;
		}
	}
	.products-menu__item {
		font-size: 2rem;
	}
}
@media (min-width: 992px) {
	.header {
		&-img {
			display: block;
		}
		&-box {
			display: flex;
			align-items: flex-start;
			text-align: left;
			&__text {
				width: 60%;
			}
		}
	}
}

@media (min-width: 1242px) {
	.products-box__item {
		&-change {
			transform: scale(1.05);
			border: 0.2em solid $main-color;
			&:hover {
				transform: scale(1.08);
			}
		}
		&-btn--secound {
			background-color: $main-color;
			color: $black;
		}
	}
}
